---
import Head from "./Head.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en-CA">
  <head>
    <Head
      title={title}
      description={description}
      canonicalURL={canonicalURL}
      ogImage={ogImage}
    >
      <slot name="jsonld" slot="jsonld" />
    </Head>
  </head>
  <body>
    <slot />
  </body>
</html>
